{% extends "ld48/base.html" %}

{% load static %}
{% load utils %}

{% block content %}
<div id="hello-container" class="modal-dialog" style="display: none">
    <form class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Let's go Deepr</h4>
        </div>
        <div class="modal-body">
            <div>Welcome to Deepr, the experimental social game about being profound. After you have logged in, you can edit inspirational quotes by clicking on the words. If you're happy with your result, click submit, and then rate the creations of others or continue deepening other quotes. When the ldjam is finished, we will publish the names of the winners!</div>
            <div>The quotes are deep already, but can you go <b><span class="text-primary">deepr</span></b>?</div>
        </div>
        <div class="modal-footer">
        </div>
    </form>
</div>
<div id="register-container" class="modal-dialog" style="display: none">
    <form class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Pick a username</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id= "uname" required>
                <div id="register-error" class="text-danger"></div>
            </div>
            <div class="text-secondary">If you use your username from ldjam.com, we will leave you a comment about your ranking after the jam.</div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" value="Register" onclick="register()">Register</button>
        </div>
    </form>
</div>
<h1 class="mb-4">Newest inspirational quotes</h1>
<div class="container p-0">
    <div class="row gy-3">
        {% for post in posts %}
            <div class="col-12">
                {% show_post post %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'ld48/js/home.js' %}"></script>
{% endblock scripts %}
