{% extends "ld48/base.html" %}
{% load static %}

{% block content %}
<div class="modal-dialog">
    <div class="modal-content">
        <!-- <form id="addUserForm" method="POST" class="post-form"> -->
                <div class="modal-header">
                    <h4 class="modal-title">Enter your Username</h4>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" id= "uname" required>
               </div>
               <div class="modal-footer">
                   <button class="btn btn-primary" value="Log in" onclick="login()">Log in</button>
               </div>
        <!-- </form> -->
    </div>
</div>
{% endblock content %}
<script src="{% static 'ld48/js/login.js' %}"></script>
