{% extends "ld48/base.html" %}

{% load utils %}

{% block content %}
<div class="container p-0">
    <h3>Top posts</h3>
    <div class="row gy-3">
        {% for post in posts %}
            {% if forloop.counter == 1 %}
                <div class="col-12">
                    <div class="leaderboard-award">
                        <i class="bi bi-trophy" style="font-size: 7rem"></i>
                        <div class="position-absolute fw-bold" style="left: calc(50% - 5rem); width: 10rem; top: 1.1rem; font-size: 4rem">{{ forloop.counter }}</div>
                    </div>
                    {% show_post post %}
                </div>
            {% elif forloop.counter <= 3 %}
                <div class="col-6">
                    <div class="leaderboard-award-mini">
                        <i class="bi bi-trophy" style="font-size: 4rem"></i>
                        <div class="position-absolute fw-bold" style="left: calc(50% - 5rem); width: 10rem; top: 0.8rem; font-size: 2rem">{{ forloop.counter }}</div>
                    </div>
                    {% show_minipost post %}
                </div>
            {% else %}
                <div class="col-6">
                    <div class="leaderboard-noaward">
                        <i class="bi bi-circle" style="font-size: 2.5rem"></i>
                        <div class="position-absolute fw-bold" style="left: calc(50% - 5rem); width: 10rem; top: 0.8rem; font-size: 1.5rem">{{ forloop.counter }}</div>
                    </div>
                    {% show_minipost post %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
