
{% load utils %}

<div class="card">
    <div class="card-img-top position-relative">
        <img src="{{ post.image }}" class="card-img-top">
        <div class="card-img-overlay row align-items-center text-center">
            <div class="col-8 offset-2">
                <div class="card p-3 quote-overlay">
                    <h5>{{ post.text }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 text-start">
                By <a href="{% url 'posts' post.username %}" class="text-secondary fw-bold text-decoration-none">@{{ post.username }}</a><br>
                <span class="text-secondary small">{{ post.created_at|format_timedelta }}</span>
            </div>
            <div class="col-6 text-end">{% star_rating post %} <span class="text-secondary">({{ post.n_ratings }})</span></div>
        </div>
    </div>
</div>
