
{% load utils %}

<div class="container">
    <div class="col-12">
        <img src="{{post.image}}" width="100%">
        <div class="centered transparentbox" >
            <p>{{post.text}}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-6 text-start">By<a href="{% url 'posts' post.username %}" style="font-weight: bolder; color: grey; text-decoration: none;"><i class="bi me-2"></i>@{{post.username}}</a></div>
        <div class="col-6 text-end"> {% star_rating post %} ({{post.n_ratings}})</div>
    </div>


    <!-- <div class="rating"></div>
    <div class="user"></div> -->
</div>

